body {
	background: white;
	font-size: 30px;
  page-break-after: always;
}

.a4 {
  zoom: .68;
	position: absolute;
	margin: 1cm;
	height: 29.7cm;
	width: 21cm;
	font-family: 'Lato', sans-serif;
}

.title {
	text-align: right;
	font-size: 48px;
	margin-top: 8px;
}

.dtlogo {
	width: 500px;
	height: 100px;
	background: url('http://localhost:4000/logo.jpg') no-repeat content-box !important;
}

.duckname {
	font-family: 'Shadows Into Light Two', cursive;
	font-size: 32px;
	color: blue !important;
	float: left;
	overflow: hidden;
	white-space: no-wrap;
}

.duckname:before {
	content: "...."
}
.duckname:after {
	content: ".........................."
}

.teambox {
	box-sizing: border-box;
	width: 100%;
	height: 200px;
	padding: 0 0 0 0px;
	border: 3pt solid rgb(6, 29, 111) !important;
	border-radius: 10px;
	/* background-color: rgba(78, 112, 213, 0.17) !important; */
}

.teamnr {
	font-family: 'Lora', serif;
	font-size: 72px;
	text-align: center;
	color: rgb(11, 27, 171) !important;
}

.teamtxt {
	font-family: 'Lora', serif;
	font-size: 28px;
	text-align: center;
	color: black !important;
}

.tblteam {
	width: 100%;
	height: 200px;
	border: 1pt solid black !important;
}

.tblanswers {
	width: 100%;
	height: 320px;
	border: 1pt solid black !important;
}

.tblScores {
	width: 100%;
	table-layout: fixed;
	border: 1pt solid black !important;
	empty-cells: show;
}
 .tblScores td, th , tr{
	 border: 1pt solid black !important;
	 height: .8em;
	 empty-cells: show;
	 break-inside: auto;
 }

 .tblScores tr {
	 height: 1.5em;
 }
td, th, tr {
	padding-left: 10px;
	border-top: 1pt solid black !important;
}

td {
	font-size: 26px;
	white-space: pre;
}

.tdTextSmall {
	font-size: 18px;
}

.tblheader {
	padding: 0;
	margin: 0;
	vertical-align: top;
	border-bottom: 1pt solid black !important;
}

.tblteam th {
	text-align: center;
	background-color: red !important;
	color: white !important;
}

.tblanswers th {
	text-align: left;
	background-color: rgb(240, 108, 13) !important;
	color: white !important;
}

.tblchallenge {
	width: 100%;
	border: 1pt solid black !important;
}

.tblchallenge th {
	text-align: left;
	background-color: rgb(77, 132, 231) !important;
	color: white !important;
	height: 10px;
	border: 1pt solid black !important;
}

.footerimage {
		height: 80px;
		width: 100%;
		background-image: url('http://localhost:4000/beemsterlogo.jpg') !important;
		background-repeat: no-repeat !important;
		background-position: center !important;
		background-size: contain !important;
	/* margin-top: 4px; */
}

.fixedanswers {
  height: 340px;
}

.pagebreak {
	break-after: always;
}

.mt-2 {
	margin-top: .5rem;
}

.mt-4 {
	margin-top: 1.5rem;
}
