body {
	background: white;
	font-size: 30px;
  page-break-after: always;
}

.a4 {
	position: absolute;
	margin: 1cm;
	height: 29.7cm;
	width: 21cm;
	font-family: 'Lato', sans-serif;
}
.title {
  text-align: center;
  font-size: 48px;
  margin-top: 24px;
}

.dtlogo {
  width: 500px;
  height: 120px;
  background: url('http://localhost:4000/logo.jpg') no-repeat content-box;
}

.duckname {
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 32px;
  color: blue;
}

.teambox {
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  padding: 0 5px 5px 5px;
  border: 10px solid black;
  border-radius: 5px;
}

.teamnr {
  font-family: 'Lora', serif;
  font-size: 72px;
  text-align: center;
}

.teamtxt {
  font-family: 'Lora', serif;
  font-size: 58px;
  text-align: center;
}

.tblteam {
  font-size: 20px;
  width: 100%;
  height: 200px;
  border: 1px solid black;
}

.tblanswers {
  font-size: 20px;
  width: 100%;
  height: 320px;
  border: 1px solid black;
}

td, th, tr {
  padding-left: 10px;
  border-top: 1px solid black;
}

.tblheader {
  font-size: 24px;
  padding: 0;
  margin: 0;
  vertical-align: top;
  border-bottom: 1px solid black;
}

.tblteam th {
  text-align: center;
  background-color: red;
  color: white;
}

.tblanswers th {
  text-align: left;
  background-color: orange;
  color: white;
}

.tblchallenge {
  font-size: 20px;
  width: 100%;
  border: 1px solid black;
}

.tblchallenge th {
  text-align: left;
  background-color: blue;
  color: white;
  height: 10px;
  font-size: 20px;
  border: 1px solid black;
}

.footerimage {
  height: 80px;
  width: 100%;
  background-image: url('http://localhost:4000/beemsterlogo.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  /* margin-top: 4px; */
}
.fixedanswers {
  height: 260px;
}
