extends layout.pug
block content
  body
    - var datum = moment(data.datum).format('dddd d MMMM')
    .a4
      .container
        .row
          .col-xs-4
            .dtlogo
          .col-xs-8
            p.title.mt-4 Antwoordformulier
        .row
          .col-xs-3.text-left &nbsp;
          .col-xs-6.text-center
            p #{data.customerName}
          .col-xs-3.text-right
            p.tdTextSmall #{datum}
        .row
          .col-xs-4.text-right
            p Naam eend:
          .col-xs-8.text-left
            span.duckname #{ duck.name }

        .row.mt-1
          .col-xs-2
            if (data.teamNr)
              .teambox
                p.teamtxt Team
                p.teamnr #{ teamnr }
          .col-xs-8
            table.tblteam
              tr
                th.tblheader Namen teamleden
              - for(var i=1; i<=4; i++)
                tr
                  td #{i}.
          .col-xs-2
      .container.mt-4
        .row
          .col-xs-12
            table.tblanswers
              tr.tblheader
                th(width="15%") Vraag
                th Antwoord
                - for (var i = 1 ; i <=6; i ++)
                  tr
                    td.ml-4 #{i}.
                    td
                tr
                  td(colspan="2").ml-4.
                    Verzin een originele eendennaam voor bonus punten:
                tr
                  td(colspan="2" height="36px")
      .container.fixedanswers
        if (data.tasteJuice)
          .mt-4#sap
            .row
              .col-xs-12
                table.tblchallenge
                  tr.tblheader
                    th(colspan="4") Sapproeven
                  tr
                    - for (var i = 1 ; i <=4; i ++)
                      td #{i}:
        if (data.tasteCheese)
          .mt-2#kaas
            .row
              .col-xs-12
                table.tblchallenge
                  tr.tblheader
                    th(colspan="4") Kaasproeven
                  tr
                    - for (var i = 1 ; i <=4; i ++)
                      td #{i}:
        if (data.duckParts)
          .mt-2#eendologie
            .row
              .col-xs-12
                table.tblchallenge
                  - var nr = 1
                  tr.tblheader
                    th(colspan="3") Eendologie
                  - for (var r = 0; r < 2; r++)
                    tr
                      -for (var c=0; c<3; c++)
                        - nr++
                        td #{nr}
                        
      .container
        .row
          p.footerimage
