extends layout.pug
block content
  body
    - var datum = moment(data.datum).format('dddd d MMMM')
    - var maxrows = 24
    - var teamnr
    - var rownum = 1
    - var cols = 5
    .a4
      .container
        table(width="100%" border="border-collapse").tableScores
          THEAD
            tr(width="100%")
              th(colspan="5") 
                img(src="http://localhost:4000/logo.jpg")
                span.title Scores bij: .........
            tr
              td(colspan="5").text-center #{datum} - #{data.customerName}
          tr
            th(width="8%").text-center nr
            th(width="50%") Team
            th(width="20%") tijd/score
            th(width="10%") pnt
            th(width="10%") pl
          each duck, index in data.ducksChosen
            - teamnr = index + 1
            - rownum++
            tr
              td.text-center #{teamnr}
              td #{duck.name }
              - for (c = 3; c<=cols; c++)
                td
            if rownum > maxrows
              - rownum=0
              -maxrows=29
              tr
              tr.pagebreak &nbsp;
              tr
          while rownum <= maxrows
            -teamnr++
            -rownum++
            tr
              td.text-center= teamnr
              - for (c = 2; c<=cols; c++)
                td
            if rownum > maxrows
              tr.pagebreak &nbsp;
              - rownums=1
