extends layout.pug
block content
  body
    - var datum = moment(data.datum).format('dddd d MMMM')
    - var maxrows = 24
    - var teamnr
    - var cols = 4
    - var rownum = 1
    .a4
      .container
        table(width="100%" border="border-collapse").tableScores
          THEAD
            tr(width="100%")
              th(colspan="4")
                img(src="http://localhost:4000/logo.jpg")
                span.title Telefoonlijst
            tr
              td(colspan="4").text-center #{datum} - #{data.customerName}
            tr
              th(width="5%").text-center nr
              th(width="40%") Team
              th(width="30%") Naam
              th(widht="25%") Tel nr
          each duck, index in data.ducksChosen
            - teamnr = index + 1
            - rownum++
            - var duck = duck.name.substring(0,20)
            
            tr
              td.text-center #{teamnr}
              td #{duck}
              -for (c=3; c<=cols; c++)
                td
            if rownum > maxrows
              - rownum=0
              -maxrows=29
              tr
              tr.pagebreak &nbsp;
              tr
          while rownum <= maxrows
            -teamnr++
            -rownum++
            tr
              td.text-center= teamnr
              -for (c=2; c<=cols; c++)
                td
            if rownum > maxrows
              tr.pagebreak &nbsp;
              - rownums=1
