<template lang="pug">
  div
      h1 WOOPS !!!
      p Die pagina bestaat niet :((
      a(href="#" @click.prevent="back") Ga terug
</template>

<script>
export default {
    methods: {
        back() {
            this.$router.go(-1)
        }
    }
}
</script>

<style lang="css" scoped>
</style>
