<template lang="pug">
	div.a4
		.container
			.row
				.col-5
					.dtlogo
				.col-7
					h1.title Scoreformulier
			.row
				.col-4.text-right
					h3 Naam eend:
				.col-8.text-left
					h4.duckname {{ data.ducksChosen[0].eend }}

			.row.mt-2
				.col-4
					.teambox(v-if="data.teamNr")
						p.teamtxt Team
						p.teamnr {{ data.ducksChosen[0].nr }}
				.col-8
					table.tblteam
						tr
							th.tblheader Namen teamleden
						tr
							td 1.
						tr
							td 2.
						tr
							td 3.
						tr
							td 4.

		.container.mt-4
			.row
				.col-12
					table.tblanswers
						tr.tblheader
							th(width="15%") Vraag
							th Antwoord
							- for (var i = 1 ; i <=6; i ++)
								tr
									td.ml-4 #{i}.
									td
							tr
								td(colspan="2").ml-4.
									Verzin een originele eendennaam voor bonus punten:
							tr
								td(colspan="2" height="36px")
		.container.fixedanswers
			.mt-2#sap(v-if="data.tasteJuice")
				.row
					.col-12
						table.tblchallenge
							tr.tblheader
								th(colspan="4") Sapproeven
							tr
							- for (var i = 1 ; i <=4; i ++)
								td #{i}:
			.mt-2#kaas(v-if="data.tasteCheese")
				.row
					.col-12
						table.tblchallenge
							tr.tblheader
								th(colspan="4") Kaasproeven
							tr
							- for (var i = 1 ; i <=4; i ++)
								td #{i}:
			.mt-2#eendologie(v-if="data.duckParts")
				.row
					.col-12
						table.tblchallenge
							tr.tblheader
								th(colspan="3") Eendologie
							-var r = 0
							-var c = 0
							- i=0
							while r < 2
								- r++
								- c=0
								tr
								while c<3
									- c++
									- i++
									td #{i}:
		.container
			.row
				div.footerimage
</template>

<script>
export default {
	data() {
		return {
			data: {
				datum: new Date(),
				customerName: '',
				printAnswerForms: true,
				teamNr: true,
				tasteCheese: false,
				tasteJuice: true,
				duckParts: true,
				language: 'Nederlands',
				gameCount: 2,
				totalForm: true,
				A4: false,
				telList: false,
				ducksChosen: [
					{
						eend: 'Eendje om van te houden',
						nr: 1
					}
				],
			}
		}
	},

}
</script>

<style lang="css" scoped>
.a4 {
	height: 29.7cm;
	width: 21cm;
	padding: 1cm;
	border: 1px dashed grey;
	font-family: 'Lato', sans-serif;
}
.title {
	text-align: center;
	font-size: 52px;
	margin-top: 24px;
}

.dtlogo {
	width: 500px;
	height: 120px;
	background: url('/img/logo.jpg') no-repeat content-box;
}

.duckname {
	font-family: 'Shadows Into Light Two', cursive;
	font-size: 32px;
	color: blue;
}

.teambox {
	box-sizing: border-box;
	width: 100%;
	height: 200px;
	padding: 0 5px 5px 5px;
	border: 10px solid black;
	border-radius: 5px;
}

.teamnr {
	font-family: 'Lora', serif;
	font-size: 72px;
	text-align: center;
}

.teamtxt {
	font-family: 'Lora', serif;
	font-size: 48px;
	text-align: center;
}

.tblteam {
	font-size: 20px;
	width: 100%;
	height: 200px;
	border: 1px solid black;
}

.tblanswers {
	font-size: 20px;
	width: 100%;
	height: 320px;
	border: 1px solid black;
}

td, th, tr {
	padding-left: 10px;
	border-top: 1px solid black;
}

.tblheader {
	font-size: 24px;
	padding: 0;
	margin: 0;
	vertical-align: top;
	border-bottom: 1px solid black;
}

.tblteam th {
	text-align: center;
	background-color: red;
	color: white;
}

.tblanswers th {
	text-align: left;
	background-color: orange;
	color: white;
}

.tblchallenge {
	font-size: 20px;
	width: 100%;
	border: 1px solid black;
}

.tblchallenge th {
	text-align: left;
	background-color: blue;
	color: white;
	height: 10px;
	font-size: 20px;
	border: 1px solid black;
}

.footerimage {
	height: 80px;
	width: 100%;
	background-image: url('/img/beemsterlogo.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
/* margin-top: 4px; */
}
.fixedanswers {
height: 260px;
}

</style>
