<template lang="pug">
  div
    h1 Voeg een eend toe
    form(@submit.prevent="addDuck")
      .row
        .col-6
          .form-group
            label Eend naam:
            input(type="text" v-model='duck.name').form-control
      .row
        .col-6
          .form-group
            label Isofix ? :
            input(type="checkbox" v-model='duck.isofix')
      br
      .form-group
        button.btn.btn-primary Opslaan
</template>

<script>
export default {
  data() {
    return {
      duck: {}
    }
  },
  methods: {
    addDuck(){
      console.log(this.duck)
    }
  }
}
</script>

<style lang="css" scoped>
</style>
