<template lang="pug">
  div
    b-navbar( toggleable="lg" type="dark" variant="info")
      b-navbar-brand(href="/") Ducktrail

      b-navbar-toggle(target="nav-collapse")

      b-collapse( is-nav id="nav-collapse")
        b-navbar-nav
          b-nav-item(href="/") Start
          b-nav-item(href="/newtour") Nieuwe tour
          b-nav-item(href="/ducksedit") Eenden aanpassen
          b-nav-item(href="/instructions") Instructies
    br
    transition(name="fade")
      <router-view />

</template>

<style>
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s
  }
  .fade-enter, .fade-leave-active {
    opacity: 0
  }

</style>

<script>
export default {
}
</script>
