<template lang="pug">
    .row
      .container
        .card.card-default
          .card-header
            h1.text-center Welkom bij Ducktrail

          .card-body
            img.centerimg(src="/img/frontpage.jpg" width="100%")
            h2.text-center Dit is de Ducktrail Tour App
            h3.text-center Heb je er een beetje zin in?</br>
            p.text-center Klik op #[a(href="/newtour") Nieuwe tour] in het menu
            p.text-center Of lees eerst de #[a(href="/instructions") instructies]
</template>

<script>
export default {
}
</script>

<style lang="css" scoped>
  .centerimg {
     display: block;
     margin-left: auto;
     margin-right: auto;
  }
</style>
