<template lang="pug">
div
  h1.text-center Nieuwe tour
  .container
    .row
      .col-lg-4.border
        h4 selecteer eenden
          span  ( {{ ducks.length }})
        ul
          li(v-for="duck in ducks" v-if="!duck.chosen" @click="toggleChosen(duck)").border
            | {{ duck.name }}
            span(v-if="duck.isofix") (isofix)
      .col-lg-8
        .row
          .col-lg-5.border
            h4 Geselecteerd
              span  ({{ form.ducksChosen.length }})
            ul
              li(v-for="duck in form.ducksChosen" @click="toggleChosen(duck)").border
                | {{ duck.name }}
                span(v-if="duck.isofix") (isofix)
          .col-lg-7.border
            h4 Tour formulieren
            .container.mt-2
              form(@submit.prevent="makeForms")
                .container.border
                  .row
                    .col-2
                      label Datum:
                    .col-10
                      datepicker(:language="nl" placeholder="  Kies de datum" v-model="form.datum" format="  d MMMM yyyy")
                  .row
                    .col-2
                      label Klant:
                    .col-10
                      input(type="text" v-model.trim="form.customerName" placeholder="Naam van de groep").form-control
                .container.border
                  h5 Antwoordformulieren
                  .row
                    .col-6
                      label Afdrukken:
                        input(type="checkbox", v-model= "form.printAnswerForms").ml-2
                    .col-6.text-right
                      label incl teamnrs:
                        input.ml-2(type="checkbox" v-model="form.teamNr")
                  .row
                    .col-4
                      label Taal:
                    .col-8
                      select.text-left(v-model="form.language")
                        option(v-for="lang in languages") {{ lang }}

                .container.border
                  h5 Opdrachten
                  .row
                    .col-4
                      label Kaas:
                        input(type="checkbox", v-model= "form.tasteCheese").ml-2
                    .col-3.text-center
                      label Sap:
                        input.ml-2(type="checkbox" v-model="form.tasteJuice")
                    .col-5.text-right
                      label Eendologie:
                        input.ml-2(type="checkbox" v-model="form.duckParts")
                .container.border
                  h5 Tourleader formulieren
                  .row
                    .col-7.text-left
                      label Scoreformulieren:
                        input.ml-2.flat(type="number" v-model="form.gameCount" min="0" max="6" value="1")
                    .col-5.text-right
                      label Totaalform:
                        input.ml-2(type="checkbox" v-model="form.totalForm")
                  .row
                    .col-6
                      label Telefoonlijst:
                        input(type="checkbox", v-model= "form.telList").ml-2
                    .col-6.text-right
                      label A4-nummers:
                        input(type="checkbox", v-model= "form.A4").ml-2
                .form-group.text-center.mt-2
                  button(type="submit").btn.btn-primary Afdrukken
                  notifications(group="alert" position="center center" animation-type="velocity")
</template>

<script>
  import Datepicker from 'vuejs-datepicker';
  import {en, nl} from 'vuejs-datepicker/dist/locale'
  import antwForm from './Antwoordform.vue'

  export default {
    components: {
      Datepicker
    },
    data() {
      return {
        message: "",
        en: en,
        nl: nl,
        ducks: [],
        ducksChosen: [],
        languages: [
          'Nederlands',
          'Engels',
          'Duits',
          'Frans',
        ],
        form: {
          datum: new Date(),
          customerName: '',
          printAnswerForms: true,
          teamNr: true,
          tasteCheese: false,
          tasteJuice: false,
          duckParts: false,
          language: 'Nederlands',
          gameCount: 2,
          totalForm: true,
          A4: false,
          telList: false,
          ducksChosen: [],
        }
      }
    },
    mounted() {
      let uri = "http://localhost:4000/api/v1/ducks"
      this.axios.get(uri).then(response => {
        this.ducks = response.data.map((duck) => {
          duck.chosen = false
          return duck
        })
      })
    },
    methods: {
      toggleChosen(duck){
        duck.chosen = !duck.chosen
        if (duck.chosen){
          this.form.ducksChosen.push(duck)
          for (var i = 0; i < this.ducks.length; i++){
            if (this.ducks[i].name === duck.name) {
              this.ducks.splice(i,1)
            }
          }
        } else {
          this.ducks.push(duck)
          this.ducks.sort(
            function(a, b) {
              const een = a.name.toUpperCase()
              const twee = b.name.toUpperCase()
              if (een > twee){
                return 1
              } else {
                return -1
              }
            }
          )
          for (var i = 0; i < this.form.ducksChosen.length; i++){
            if (this.form.ducksChosen[i].name === duck.name) {
              this.form.ducksChosen.splice(i,1)
            }
          }
        }
      },
      makeForms() {
        const form = this.form
        let uri = "http://localhost:4000/api/v1/print"
        this.axios.post(uri, form, { headers: {
            'Content-type': 'application/json',
            }}).then(response => {
              if(response.status == 200){
                this.$notify({
                  group: 'alert',
                  title: 'Ogenblikje',
                  type: 'success',
                  text: "Formulieren onderweg naar de printer ...",
                  duration: 4000,
                  speed: 1000
                })
                console.log(response)
              }
        })
      }
    }
  }
</script>

<style lang="scss" scoped>
  ol {
    text-align: left;
    padding: 10px;
    margin: 0px 10px 10px 20px;
  }
  ul {
    list-style: none;
    padding: 10px 10px 10px 0;
    margin: 0px 10px 10px 10px;
  }
  .alert {
    font-size: 24px;
  }

  </style>
