<template lang="pug">
  div(id="app")
    .container
      <Header />
</template>

<script>
import Header from './components/Header.vue'
export default {
  name: 'app',
  components: {
    Header,
  }
}
</script>

<style>
  @import url("https://fonts.googleapis.com/css?family=Lato|Lora|Shadows+Into+Light+Two");
</style>
